body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #272044;
}
.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(222, 168, 248) 0%,
    rgb(168, 222, 248) 21.8%,
    rgb(189, 250, 205) 35.6%,
    rgb(243, 250, 189) 52.9%,
    rgb(250, 227, 189) 66.8%,
    rgb(248, 172, 172) 90%,
    rgb(254, 211, 252) 99.7%
  );
  background-repeat: no-repeat;
  margin: 125px auto;
  max-width: 650px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 1px;
  border-radius: 5px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.5;
  color: #272044;
}

form {
  padding: 30px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 15px;
  border: 1px rgba(39, 33, 66, 0.5);
  width: 80%;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
  margin-left: 5px;
}

.submit-button {
  width: 200px;
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
  background: linear-gradient(90deg, #e7e7e7 30%, #fe668c 0) 100%/50px 100%
      no-repeat,
    conic-gradient(from 55deg at left, #fee7b3, #0000 1deg 69deg, #fee7b3 70deg)
      100% 8px / calc(100% - 40px) 16px repeat-y,
    linear-gradient(#0003 50%, #0000 0) 100% 8px / calc(100% - 41px) 32px
      repeat-y,
    linear-gradient(90deg, #2b2026 15px, #fee7b3 16px 40px, #fecc2b 0);
  clip-path: polygon(0 50%, 42px 0, 100% 0, 100% 100%, 42px 100%);
  border-radius: 0 10px 10px 0;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.child-story {
  font-size: 15px;
  background-color: #f9f7fe;
  padding: 20px;
  line-height: 2;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  border-radius: 15px;
}

footer {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}
